.workArea, .buttons {
    display: inline-flex
}
body {
    box-sizing: border-box;
    margin: 0px;
    height: 100vh;

}
.headerStyle {
    height: 100px;
    width: 100%;
    background-color: #701272;
    margin: 0px;
}

.footerStyle {
    height: 80px;
    width: 100%;
    background-color: #701281;

}